body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    font-family: "Lucida Grande",Arial,sans-serif;
    line-height: 1.6;
}

html, body, form, fieldset {
    margin: 0;
    padding: 0;
}

body.fs3 {
    font-size: 12px;
}

body#bd {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
}

.body-wrapper{
    margin: 0 auto;
    padding: 0 0 40px;
    width: 950px;
}

header{
	clear: both;
}

.header {
    height: 80px;
    line-height: normal;
    position: relative;
}

h1.logo, h1.logo-text {
    font-size: 200%;
    margin: 0;
    padding: 0;
}

.header a {
}

h1.logo a {
    background: url("./logo.gif") no-repeat scroll 0 0 transparent;
    bottom: 15px;
    display: block;
    height: 42px;
    left: 0;
    position: absolute;
    width: 435px;
}

ul.bulletArrowGreenSmall li {
    font-size: 105%;
    line-height: 18px;
    list-style-image: url("bullet_arrow_green.gif");
}
h1.logo a span {
    position: absolute;
    top: -1000px;
}

a {
    color: #105CB6;
    text-decoration: none;
}
ul#breadcrumbs a{
	 color: #91AE4E;
	 font-weight: bold;
   
}


ul#breadcrumbs {
    margin-top: 16px;
    overflow: hidden;
}
ol, ul {
    list-style: none outside none;
}

ul#breadcrumbs li {
    float: left;
    font-size: 85%;
    line-height: 1.0em;
   
    padding: 4px 6px;
    text-transform: uppercase;
}


ul#breadcrumbs a.current {
    color: #2C79B3;
    
    
}


.body-content {
	
}

h1 {
    color: #105CB6;
    display: inline;
    font-family: Helvetica,Tahoma,Arial,Verdana;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.heading{
	float:left; 
	width:305px;
	margin: 1px 8px 0 1px;
}

.exp-column{
	float:left; 
	width:305px;
	margin: 1px 8px 0 1px;
}


ul#Expnavigation li {
    float: left;
    font-size: 110%;
    line-height: 1.0em;
   
    padding: 4px 6px;
    text-transform: uppercase;
}

ul#Expnavigation a{
	 color: #3B5998;
	 font-weight: bold;
	 text-decoration: underline;
   
}

ul#Expnavigation div.current {
    color: #961B25;
    
    
}
.footer {
    clear: both;
    color: #000000;
    margin: 15px 0 0 0;
    padding: 4px 0;
    text-align: center;
    width: 100%;
}
