*{padding: 0 ; margin: 0 ;}

body{
	min-height: 564px;
	min-width: 1100px;
    text-align: center;
    height: 100%;
    font-size: 100%;
    position:absolute; top:0%; bottom:0%; right:0%; left:0%;
}

#header {
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    width: 100%;
    height: 6%;
    font-size: 4vh;
    padding-top: 1.3vmin;
}

.button, .buttonDisable {
    position: relative;
    padding: 0.5em 1em;
    border-radius: 0.2em; 
    overflow: visible;
    outline: none;
    white-space: nowrap;
    -moz-background-clip: padding; 
    background-clip: padding-box;
    border: 1px solid #d4d4d4;
    margin: 0;
    text-align: center;
    zoom: 1;
    *display: inline;
    text-decoration: none;
    display: inline-block;
  }

.button{
    cursor: pointer;
}

#header, .button {
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    color: #fff;
    background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

.buttonDisable {
    text-shadow: 1px 1px 0 #fff;
    color: #999999;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
}

.buttonDisable, .button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.vlabsIcon{
    position: absolute;
    top: 1.2%;
    left: 8%;
    width: 15vh;
    height:6.7vh;
    background-image:url('iiitLogo.png');
    background-repeat:no-repeat;
    background-color:transparent;
}

.inputDivision, .outputDivision, .executionDivision{
    color: #464646;
    position: absolute;
    border-radius: 5px;
     top:11%;
    height:87%; 
}

.inputDivision{
    left: 1.2%;
    width:18%;
}

.executionDivision{
    left: 20.4%;
    width:35%;
    border:1px solid #CCC;
}

.outputDivision{
     border:1px solid #CCC;
    left:56.6%;
    width:42%;
}

.inputDivisionTitle, .outputDivisionTitle, .executionDivisionTitle, .problemStatementDivisionTitle{
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
    width:100%;
    background-color: #F8F8F8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.inputDivisionTitle{
    float: left;
    height:18%;
}

.problemStatementDivisionTitle{
    float: left;
    height:20%;
}

.outputDivisionTitle, .executionDivisionTitle{
    top: 0%;
    height:9%;
}

.experimentPic{
	margin-top:1.8vh;
	margin-left: 10%;
	width: 20%;
	float: left;
	height: 100%;
	background-image:url('initIcon.png');
    background-repeat:no-repeat;
    background-color:transparent;
}


.problemPic{
    margin-top:1vh;
    margin-left: 10%;
    width: 20%;
    float: left;
    height: 100%;
    background-image:url('quesIcon.png');
    background-repeat:no-repeat;
    background-color:transparent;
}

.experimentText{
	width: 60%;
	float: left;
	height: 100%;
}

.executionPic{
	margin-top:1vh;
	margin-left: 10%;
	width: 25%;
	float: left;
	height: 100%;
	background-image:url('pageIcon.png');
    background-repeat:no-repeat;
    background-color:transparent;
}

.executionText{
	text-align: left;
	width: 50%;
	float: left;
	height: 100%;
}

.outputPic{
	margin-top:1.8vh;
	margin-left: 10%;
	width: 25%;
	float: left;
	height: 100%;
	background-image:url('outputIcon.png');
    background-repeat:no-repeat;
    background-color:transparent;
}

.outputText{
	text-align: left;
	width: 50%;
	float: left;
	height: 100%;
}

.inputDivisionBody{
    float: left;
    width:100%;
    height:80%;
    text-align: center;
    font-size: 1em;
    border-top: 1px solid #CCC;
}

.warningText1, .warningText2{
    float: left;
    margin-left: 5%;
    margin-top: 10px;
    width: 90%;
    height: 80px;
    text-align:center;
}

.FirstInputBlock{
    width: 100%;
    height: 45%;
    float: left;
    border-radius: 5px;
    border: 1px solid #CCC;
    margin-bottom: 5%; 
}

.SecondInputBlock{
    width: 100%;
    height: 52%;
    float: left;
    border-radius: 5px;
    border: 1px solid #CCC;
}

.variableText{
    float: left;
    width: 100%;
    min-width: 70px;
    font-size: 2.5vh;
    height: 15%;
    min-height: 30px;
    margin-top:15px; 
}

.arraySizeDivision{
    float: left;
    width: 100%;
    height:15%;
    min-height: 40px;
}

.inputField{
    text-align: center;
    font-size: 15px;
    float: left;
    height:10%;
    margin-bottom: 8px;
    min-height:30px;
    width: 80%;
    margin-left: 10%;
    min-width:150px;
    border:1px solid #CCC;
    outline: none;
    border-radius: 3px;
}

.startButton{
	font-size: 13px;
	min-width: 144px;
	float: left;
    margin-left: 10%;
    height: 30px;
    width: 80.5%;
    margin-bottom: 8px;
}

.myStartButton{
    margin-left: 10%;
    height: 30px;
    width: 37%;
    float:left;
    font-size:14px;
}

.nextButton{
    margin-left:14px; 
    height: 30px;
    width: 37%;
    float:left;
    font-size:14px;
}

.resultDisplay{
    position: absolute;
    top: 9%;
    left:0%;
    width:100%;
    height:90%;
    text-align: center;
    font-size: 1em;
    font-size: 3vmin;
    border-top:1px solid #CCC;
}

.canvas{
    margin-top: 15px;
  margin-left: -5%;
}

.stepExecutionDisplay{
    padding-top: 2%;
    padding-left: 2%;
    overflow-x:auto;
    font-size: 3vmin;
    position: absolute;
    top: 9%;
    left:0%;
    width:97.8%;
    height:88%;
    text-align: center;
    border-top:1px solid #CCC;
}

.hide{
    display:none;
}

.show{
    display: block;
}

.programCode{
    line-height: 150%;
    text-align: left;
    margin-top: 1%;
    margin-left: 2%;
}

.gapBitweenMeamoryGap{
    float: left;
    width: 100%;
    height:5%;
}

.textAlignLeft{
    text-align: left;
}

.redClass {
  display: block;
  color: red;
  font-weight: bold;
}

.marginLeft{
    margin-left: 20px;
    margin-top: 6px;
}

@media only screen and (min-width: 1000px) {

.problemStatementDivisionTitle,.executionDivisionTitle, .outputDivisionTitle, .inputDivisionTitle {
    font-size: 1.3em;
}

.experimentText, .executionText, .outputText {
    padding-top: 1.4vmin; 
}

}

@media only screen and (max-width: 999px) and ( min-width: 600px) {

.problemStatementDivisionTitle,.executionDivisionTitle, .outputDivisionTitle, .inputDivisionTitle {
    font-size: 1.1em;
}

.stepExecutionDisplay {
    line-height: 140%;
    font-size: 1.3em;
}

.experimentText, .executionText, .outputText {
    padding-top: 1.4vmin; 
}

.warningText2 {
    display: none;
}


}